/* ------------------------------
/*  Masthead
 * ------------------------------ */
.masthead {
  background: asset-url('background-right.png') left 50%, linear-gradient(-90deg, $purple, $primary-color);
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 90vh;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;

  &__container {
    margin-top: $pulse*10;
    overflow: hidden;
  }

  &__end {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  &__row {
    align-items: center;
  }

  &__img {
    height: 100%;
    min-height: 400px;
    background: asset-url("yt.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: $shadow-2;
  }

  @include tablet-big-height {
    height: 90vh;
    padding-bottom: 0;
  }
}


.masthead--inversed {
  @extend .masthead;

  background: asset-url('background-right.png') left 50%, linear-gradient(-90deg, $purple, $primary-color);
  background-repeat: no-repeat;

  .masthead__container {
    margin-top: $pulse*6;
  }
}

.masthead--small {
  @extend .masthead;
  background: asset-url('background-right.png') left 50%, linear-gradient(-90deg, $purple, $primary-color);
  background-repeat: no-repeat;

  min-height: 0;
  padding-bottom: 0;

  .masthead__container {
    margin-top: $pulse*6;
  }
}
