.masthead {
  background: asset-url('background-left.png') left bottom, linear-gradient(to right, $grad-1, $grad-2);
  background-repeat: no-repeat;
  width: 100vw;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;

  &__container {
    margin-top: $pulse*10;
  }

  &__end {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  &__row {
    align-items: center;
  }

  &__img {
    height: 100%;
    min-height: 400px;
    background: asset-url("yt.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: $shadow-2;
  }

  @include tablet-vertical {
    height: 100vh;
    padding-bottom: 0;
  }

  @include tablet-big {
    height: 100vh;
    padding-bottom: 0;
  }
}
