/* ------------------------------
/*  Profile
 * ------------------------------ */
.profile-container {
  padding: 0 0 $pulse*6 0;
  .col-12:first-child {
    border-right: 1px solid $gray-2;

    @media screen and (max-width: 767px) {
      border-right: none;
    }
  }

  .text--center {
    font-family: 'GT-Eesti', 'Lato', sans-serif;
    border-bottom: 1px solid $gray-2;
    padding: 0 0 $pulse 0;
  }
}

.profile-btn {
  margin: $pulse auto 0 auto;
}
