/* ------------------------------
/*  Room
 * ------------------------------ */
.room {
  margin: 0 auto;

  &__col {
    padding: $pulse;
    margin: 0 0 $pulse 0;

    background-color: $white;
    border-radius: 8px;
    box-shadow: $shadow;

    .title-container {
      display: flex;
      align-items: center;
      margin: 0 0 $pulse 0;

      .fa {
        font-size: 20px;
        width: 20px;
        color: $black;
      }
      #title {
        margin: 0;
      }
    }
  }

  .your-rooms {
    text-align: center;
    border-bottom: 1px solid $gray-3;
  }

  @include tablet-big {
    &__col {
      padding: $pulse $pulse*2;
    }
  }
}

.rooms-list {
  text-align: left;

  li {
    margin: 0 0 0 $pulse;
    position: relative;

    &:hover {
      color: $black;
      &::after {
        background: $black;
      }
    }
  }

  li::after {
    content: '';
    height: .4em;
    width: .4em;
    background: $gray-1;
    position: absolute;
    transform: rotate(45deg);
    margin-top: 10px;
    left: -12px;
  }
}

.room-container {
  position: relative;
  padding: $pulse*2 0 $pulse*3 0;
  min-height: 75vh; // TODO: CHANGE IT
}
