/* -----------------------------
/*  Icons
 * ----------------------------- */
.icon {
  fill: $gray-1;
  width: 20px;
  height: 20px;
  margin-right: 5px;

  .btn:hover &,
  .btn:active &,
  .btn:focus & {
    fill: currentColor;
  }
}

.icon--liked {
  fill: $red;
}

.icon--blue {
  fill: $primary-color;
}
