/* -----------------------------
/*  Links
 * ----------------------------- */
.white-link {
  color: $white;
  cursor: pointer;

  &:hover {
    color: darken($white, 15);
  }
}

.black-link {
  color: $black;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: lighten($black, 15);
  }
}
