/* ------------------------------
/*  Logo
 * ------------------------------ */
.logo {

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $black;
  }

  &__letter {
    font-family: 'GT-Eesti';
    font-size: 3.6em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 $pulse/2 0 0;
  }

  &__name {
    font-family: 'GT-Eesti-lighter';
    font-size: 1.8em;
    font-weight: normal;
    white-space: nowrap;
  }
}

.logo--negativ {
  @extend .logo;
  span {
    color: $white;
  }
}
