/* ------------------------------
/*  Logo
 * ------------------------------ */
.logo {

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $black;
  }

  &__letter {
    font-family: 'GT-Eesti', 'Lato', sans-serif;
    font-size: 3.6em;
    font-weight: bold;
    line-height: 1.2;

  }

  &__name {
    font-family: 'GT-Eesti', 'Lato', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    white-space: nowrap;
    margin-left: -4px;
  }
}

.logo--negativ {
  @extend .logo;
  span {
    color: $white;
  }
}
