/* ------------------------------
/*  Big card
 * ------------------------------ */
 .big-card {
   max-width: 550px;
   margin: 0 auto;

   &__content {
     padding: $pulse*3;
     background: $white;
     box-shadow: $shadow-2;
     border-radius: 8px;
   }
 }

 .big-card--extended {
   @extend .big-card;

   max-width: none;
   padding: $pulse 0;
 }
