/* ------------------------------
/*  Big card
 * ------------------------------ */
 .big-card {
   max-width: 550px;
   padding: $pulse*3;
   margin: 0 auto;

   background: $white;
   box-shadow: $shadow-2;
   border-radius: 8px;
 }
