.hero {
  &__title {
    font-family: 'GT-Eesti', "Lato", sans-serif;
    color: $white;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
  }

  &__subtitle {
    color: #FFF;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
  }
}
