/* ------------------------------
/*  YouTube player
 * ------------------------------ */
/* Player and buttons */
.controls {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .btn-container {
    display: flex;

    .btn {
      margin: 0 5px;
    }
  }
}

/* Time and volume bars */
.bars {
  margin: $pulse 0 0 0;

  &__row {
    display: flex;
    align-items: center;
    max-width: 640px;

    .fa {
      font-size: 20px;
      width: 20px;
      color: $black;
      margin: 0 $pulse 0 0;
    }

    &:first-child {
      margin: 0 0 $pulse 0;
    }
  }

  .slider-container {
    display: flex;
    flex: 1;
    height: 30px;
    background-color: $gray-1;
    border-radius: 8px;

    .slider {
      display: flex;
      flex-grow: 10;
      height: 100%;
      transform-origin: left;
      border-radius: inherit;
      transition: all 0.4s;
    }
  }

  .progress {
    background: linear-gradient(-90deg, $primary-color, $grad-1);;
  }

  .volume {
    background: linear-gradient(-90deg, #5846C4, #7A6ADC);
  }
}


#ytplayer {
  // pointer-events: none;
  max-width: 100%;
}

#time {
  color: $black;
  font-size: 24px;
}
