/* ==============================
 * Base
 * ============================== */
html {
  font-family: "Lato", helvetica, arial, sans-serif;
  font-size: 62.5%; /* go from 16px to 10px */
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  background-color: $white;
}

body {
  color: $gray-1;
  margin: 0;
  padding: 0;
}

// .wrapper {
//   min-height: 100%;
// height: auto !important;
// height: 100%;
// margin: 0 auto;
// }
