/* ==============================
/*  Helpers
 * ============================== */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.text--center {
  text-align: center;
}

.text--title {
  padding: 0 0 $pulse 0;
  border-bottom: 1px solid $gray-2;
}

.m-b-sm {
  margin-bottom: $pulse !important;
}

.m-b-md {
  margin-bottom: $pulse*2 !important;
}

.gray-bg {
  background-color: $gray-3;
}

.bare-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ordered-list {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}
