/* ==============================
/*  Helpers
 * ============================== */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.text--center {
  text-align: center;
}

.m-b-sm {
  margin-bottom: $pulse !important;
}

.gray-bg {
  background-color: #F5F7F9;
}

.bare-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ordered-list {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}
