// Colors
$white: #fff;
$black: #324355;
$primary-color: #2EE09D; // Green
$grad-1: #23BE84; // Left of the gradient
$grad-2: #06E4FF; // Right of the gradient
$blue: #505DE6; // Dark blue
$gray-1: #687788;

// Shadows
$shadow: 0 0 20px rgba(0, 0, 0, 0.14);
$shadow-2: 0 0 20px rgba(0, 0, 0, 0.24);

// Sizes
$base-line-height: 1.6;
$pulse: $base-line-height * 1rem;
