

<div class="masthead">

  <div class="container masthead__container">

    <div class="row">

      <div class="col-md-5">
        <div class="hero">
          <h1 class="hero__title">Watch YouTube videos, differently.</h1>
          <h3 class="hero__subtitle">With YouTogether, enjoy laughing at the same thing, at the same time.</h3>
        </div>
      </div>

      <div class="col-md-7">
        <div class="homepage-img"></div>
      </div>

    </div>


    <svg class="masthead__end" width="2000px" height="80px" viewBox="0 0 2000 80">
      <path d="M2.95875508e-10,0.271075437 C1.44325251e-05,0.0924814466 0.528253498,-5.71696376e-14 1.59600999,-5.68434189e-14 C48.1099871,-5.68434189e-14 1957.58289,1.84741111e-13 2000,8.52651283e-14 C956.905816,171.471291 -0.000614269229,7.87245453 2.95875508e-10,0.271075437 L0,0 L2000,0 L2000,80 L0,80 L0,0.271075437 Z" fill="#fff" fill-rule="evenodd"></path>
    </svg>
  </div>

</div>
