<nav>
  <ul class="global-nav">
    <li class="global-nav__element">
      <%= link_to('Rooms', rooms_path) %>
    </li>
    <li class="global-nav__element">
      <%= link_to('Sign Up', signup_path) %>
    </li>
    <li class="global-nav__element">
      <%= link_to('Log in', login_path) %>
    </li>
  </ul>
</nav>
